/*
  定义页面样式
*/

.fs-18 {
	font-size: 18px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-24 {
	font-size: 20px !important;
}

.fs-22 {
	font-size: 22px !important;
}

.fs-36 {
	font-size: 36px !important;
}

.fs-40 {
	font-size: 40px !important;
}

.fs-44 {
	font-size: 44px !important;
}

.fs-50 {
	font-size: 50px !important;
}

.fs-56 {
	font-size: 56px !important;
}

.text-333 {
	color: #333;
}

.text-white {
	color: #fff !important;
}

.mt0 {
	margin-top: 0px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt120 {
	margin-top: 120px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.ml60 {
	margin-left: 60px !important;
}

.nopad {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.border-box {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	display: table;
	width: 100%;
}

.grid-row {
	display: table-row;
}

.grid-cell {
	display: table-cell;
}

.grid-cell.vc {
	vertical-align: middle;
}

.grid-cell.vt {
	vertical-align: top;
}

.section {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color: #fff;
}

.section-figure {
	width: 100%;
}

.section-figure img {
	width: 100%;
}

.section-top {
	position: relative;
	padding-top: 60px;
	padding-bottom: 280px;
}

.section-top-subtitle {
	font-size: 32px;
	color: #666;
	text-align: center;
}

.section-top-headline {
	margin-top: 24px;
	margin-bottom: 35px;
	font-size: 42px;
	line-height: 70px;
	color: #424242;
	text-align: center;
}

.section-top-text p {
	font-size: 18px;
	line-height: 30px;
	color: #333;
	text-align: center;
}

.section-body {
	padding-top: 155px;
	padding-bottom: 60px;
}

.dropmenu-content {
	display: none;
	background-color: #f5f5f5;
}

.section-body-cont .part-img img {
	max-width: 100%;
	height: 100%;
}

.section-body-cont .part {
	margin-bottom: 140px;
}

.section-body-cont .part .part-title {
	font-size: 30px;
	color: #333;
}

.section-body-cont .part .part-descr {
	margin-top: 10px;
	line-height: 28px;
	color: #666;
}

.section-body-cont .all-part .part-img {
	width: 100%;
	margin-top: 45px;
	text-align: center;
}

.common-link {
	font-size: 20px;
	color: #208bff;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
}

.common-link:hover {
	color: #54a0ff;
}


/* 
    首页样式开始 
*/


/* banner部分 */

.index-container .banner-section {
	position: relative;
	width: 100%;
}

.index-container .banner-title {
	position: absolute;
	top: 38%;
	left: 0;
	right: 0;
	margin-top: -54px;
	text-align: center;
}

.index-container .banner-title h1 {
	font-size: 60px;
	color: #fff;
}

.index-container .banner-title p {
	width: 100%;
	margin-bottom: 24px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	text-indent: -60px;
}

.index-container .banner-img img {
	width: 100%;
}


/* slogen部分 */

.index-container .slogen-section {
	width: 820px;
	padding-top: 45px;
	padding-bottom: 125px;
	margin-left: auto;
	margin-right: auto;
}

.index-container .slogen-text {
	margin-top: 23px;
	font-size: 18px;
	line-height: 30px;
	color: #666;
	text-align: justify;
}


/* 视频部分，图片部分 */

.polylogue-section,
.people-section {
	position: relative;
	background: #fff;
	z-index: 0;
	visibility: visible;
}

.polylogue-containers,
.people-containers {
	position: relative;
}

.polylogue-container,
.people-container {
	position: relative;
	width: 100%;
	height: 230vh;
	min-height: 790px;
	padding-top: 0;
	padding-bottom: 0;
}

.polylogue-bg,
.people-bg {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	min-height: 790px;
}

.polylogue-overlay,
.people-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 250vh;
	min-height: 790px;
	background-color: rgba(255, 255, 255, .85);
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity;
	pointer-events: none;
}

.polylogue-imageContent,
.people-imageContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	min-height: 790px;
	margin: auto;
}

.polylogue-image,
.people-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-width: 100vw;
	height: 140vh;
	min-height: 790px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.polylogue-movie {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.polylogue-content,
.people-content {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	min-height: 790px;
	margin-top: -100vh;
}

.polylogue-body,
.people-body {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100vh;
	min-height: 790px;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: .8s;
	transition-duration: .8s;
	-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	opacity: 0;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	display: table;
	will-change: opacity transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.polylogue-bodyContent,
.people-bodyContent {
	display: table-cell;
	vertical-align: middle;
}

.polylogue-inner,
.people-inner {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-left: 20%;
	margin-left: auto;
	margin-right: auto;
}

.polylogue-subheadline,
.people-subheadline {
	font-size: 32px;
	color: #666;
}

.polylogue-headline,
.people-headline {
	margin-top: 20px;
	font-size: 50px;
	color: #424242;
}

.polylogue-text {
	width: 530px;
	padding-bottom: 15px;
	margin-top: 25px;
	font-size: 12px;
	line-height: 26px;
	color: #333;
}


/* 图片部分 */

.people-imageContent {
	top: 60px;
	height: 140vh;
}

.people-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100vw;
	height: 140vh;
	overflow: hidden;
}

.people-images-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.people-headline {
	line-height: 72px;
}

.people-images-content {
	position: absolute;
	margin: auto;
}

.people-images-group {
	float: left;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	transition-timing-function: cubic-bezier(.215, .61, .355, 1);
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.people-images-group:nth-of-type(2n) {
	-webkit-transform: translateY(300px);
	transform: translateY(300px);
}

.people-images_image {
	width: 260px;
	height: 160px;
	margin: 20px 10px 0 10px;
}

.people-images_image img {
	width: 100%;
	height: auto;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.sticky:after,
.sticky:before {
	content: '';
	display: table;
}


/* 木种部分 */

.woods-section .section-top {
	width: 810px;
}

.woods-section .section-top-list ul {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.woods-section .section-top-list li {
	width: 25%;
	margin-top: 90px;
	text-align: center;
}

.woods-section .woods-icon {
	height: 133px;
	line-height: 133px;
	text-align: center;
}

.woods-section .woods-icon img {
	vertical-align: bottom;
}

.woods-section .section-top-list li p {
	margin-top: 30px;
}

.woods-section .section-body-cont {
	width: 1155px;
}

.woods-section .width-855 {
	width: 855px;
}

.woods-section .width-940 {
	width: 940px;
}

.woods-section .width-790 {
	width: 790px;
}

.woods-section .width-300 {
	width: 300px;
}

.woods-section .width-445 {
	width: 445px;
}


/* 制作工艺部分 */

.craftsmanship-section .section-top {
	width: 820px;
}

.craftsmanship-section .section-top-list {
	margin-top: 100px;
	width: 680px;
}

.craftsmanship-section .section-top-list li {
	position: relative;
}

.craftsmanship-section .section-top-list li i {
	position: absolute;
	right: -60px;
	top: 35px;
	color: #999;
}

.craftsmanship-section .section-top-list li p {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

.craftsmanship-section .section-body-cont {
	width: 1280px;
}

@media screen and (max-width: 1440px) {
	.craftsmanship-section .section-body-cont {
		width: 100%;
	}
}

.craftsmanship-section .width-410 {
	width: 410px;
}

.craftsmanship-section .width-1165 {
	width: 1165px;
}

.craftsmanship-section .width-1080 {
	width: 1080px;
}

.craftsmanship-section .width-965 {
	width: 965px;
}

.craftsmanship-section .width-1130 {
	width: 1130px;
}

.craftsmanship-section .width-1060 {
	width: 1060px !important;
}


/* 量身定制 */

.customize-section .section-top {
	width: 910px;
	padding-bottom: 180px;
}

.customize-section .section-top-list {
	width: 764px;
	margin-top: 100px;
}

.customize-section .section-top-list ul {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.customize-section .section-top-list li {
	margin-bottom: 90px;
}

.customize-section .section-top-list li:nth-of-type(3n-1) {
	margin-left: 97px;
	margin-right: 97px;
}

.customize-section .customize-icon {
	width: 190px;
	height: 120px;
}

.customize-section .section-top-list li p {
	margin-top: 20px;
	color: #424242;
}

.customize-section .section-body-cont {
	width: 1170px;
	padding-top: 60px;
}

.customize-section .width-1085 {
	width: 1085px;
}

.customize-section .width-790 {
	width: 790px;
}

.customize-section .width-410 {
	width: 410px;
}


/* 服务范围 */

.service-section .section-top {
	width: 71.875%;
	padding-top: 180px;
	padding-bottom: 160px;
}

.service-section .section-top-list {
	margin-top: 100px;
}

.service-section .section-top-list li {
	position: relative;
	float: left;
	width: 25%;
	font-size: 0px;
}

.service-section .section-top-list li::after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	content: '';
	background-color: #000;
	opacity: .4;
}

.service-section .section-top-list li:hover::after {
	opacity: .1;
}

.service-section .section-top-list li img {
	max-width: 100%;
}

.service-section .service-text {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: -10px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

/* 定制流程 */

.index-container .process-section .section-top {
	padding-top: 0px;
	padding-bottom: 0px;
}

.index-container .process-section .section-top-subtitle {
	position: absolute;
	top: 29%;
	left: 20%;
	text-align: left;
}

.index-container .process-section .section-top-headline {
	position: absolute;
	top: 32%;
	left: 20%;
	font-size: 50px;
	line-height: 68px;
	text-align: left;
}

.index-container .process-section .section-body {
	width: 1160px;
	padding-top: 0px;
}

.index-container .process-section-body-text {
	padding-left: 80px;
	padding-right: 300px;
	margin-top: 45px;
	margin-bottom: 130px;
	line-height: 30px;
}

.index-container .process-list {
	width: 835px;
	padding-top: 120px;
}

.index-container .process-list ul {
	width: 345px;
}

.index-container .process-list li {
	padding-bottom: 10px;
	border-bottom: 1px solid #a4a4a4;
	margin-bottom: 100px;
}

.index-container .process-list .step {
	width: 45px;
	height: 45px;
	border: 1px solid #a4a4a4;
	margin-right: 23px;
	border-radius: 50%;
	font-size: 22px;
	line-height: 45px;
	color: #333;
	text-align: center;
}

.index-container .process-list .step-title {
	font-size: 26px;
	color: #333;
}

.index-container .process-list .step-text {
	margin-top: 10px;
	font-size: 18px;
	color: #666;
}


/* 案例展示 */

.index-container .cases-section {
	background-color: #f5f5f5;
}

.index-container .cases-section .section-top {
	padding-top: 140px;
	padding-bottom: 0px;
}

.index-container .cases-section .section-top-subtitle {
	font-size: 36px;
}

.index-container .cases-section .section-body {
	padding-top: 90px;
}

.index-container .cases-section .cases-container {
	padding-bottom: 30px;
}

.index-container .cases-section .cases-item {
	padding-right: 4.725%;
	padding-left: 4.725%;
}

.index-container .cases-section .cases-item img {
	width: 100%;
}

.index-container .cases-section .cases-item-info {
	margin-top: 50px;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.index-container .cases-section .cases-item-info .cases-item-name {
	font-size: 30px;
	color: #333;
}

.index-container .cases-section .cases-item-info .cases-item-descr {
	width: 615px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 28px;
	color: #333;
}

.open-modal-link a {
	color: #0070c9;
}

.open-modal-link a:hover {
	text-decoration: underline;
}

.index-container .cases-section .cases-container .swiper-slide-active .cases-item-info {
	opacity: 1;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}

.index-container .cases-section .cases-slide-btn {
	position: absolute;
	top: 30%;
	z-index: 10;
	display: none;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	line-height: 66px;
	text-align: center;
	color: #fff;
	background-color: #dadada;
	cursor: pointer;
}

.index-container .cases-section .cases-slide-btn i {
	font-size: 26px;
}

.index-container .cases-section .cases-slide-btn.prev {
	left: 4%;
}

.index-container .cases-section .cases-slide-btn.next {
	right: 4%;
	text-indent: -5px;
}

.index-container .cases-section .cases-slide-btn:hover {
	background-color: #424242;
}

.index-container .cases-section .cases-container:hover .cases-slide-btn {
	display: block;
}


/* 
    首页样式结束 
*/


/* 
    浴室柜页面样式开始 
*/

.cabinet-container {
	max-width: 2560px;
	margin-left: auto;
	margin-right: auto;
}

.cabinet-container .section-top-text p {
	font-size: 16px;
	line-height: 28px;
	color: #666;
}

.cabinet-container .slogen-section {
	width: 100%;
	padding-top: 150px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

.cabinet-container .slogen-subtitle {
	font-size: 22px;
	color: #6d6d6d;
}

.cabinet-container .slogen-headline {
	margin-top: 20px;
	font-size: 46px;
	color: #444;
}

.cabinet-container .slogen-banner {
	margin-top: 70px;
}

.cabinet-container .slogen-banner img {
	width: 100%;
}

.cabinet-container .design-section {
	width: 100%;
	padding-top: 100px;
	background-color: #f7f7f7;
}

.cabinet-container .design-section .section-top {
	padding-left: 130px;
}

.cabinet-container .design-section .section-top-subtitle {
	font-size: 20px;
	text-align: left;
	color: #666;
}

.cabinet-container .design-section .section-top-headline {
	margin-top: 20px;
	text-align: left;
	color: #333;
}

.cabinet-container .design-section .section-body {
	width: 1185px;
	padding-top: 0px;
}

.cabinet-container .design-section .section-body-text {
	width: 745px;
	margin-top: 50px;
	margin-left: 125px;
	font-size: 18px;
	line-height: 30px;
	color: #666;
}

.cabinet-container .design-section .section-bottom-part {
	position: relative;
	width: 49.6%;
}

.cabinet-container .design-section .section-bottom-part img {
	width: 100%;
	height: auto;
}

.cabinet-container .design-section .section-bottom-part-cont {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cabinet-container .design-section .section-bottom-title {
	font-size: 38px;
	color: #fff;
	text-align: center;
}

.cabinet-container .design-section .section-bottom-descr {
	margin-top: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

@media screen and (max-width: 1440px) {
	.cabinet-container .design-section .section-bottom-part-cont {
		width: 55%;
	}
	.cabinet-container .design-section .section-bottom-title {
		font-size: 28px;
	}
	
	.cabinet-container .design-section .section-bottom-descr {
		font-size: 16px;
	}
}

.cabinet-container .advantage-section {
	padding-top: 150px;
	padding-bottom: 130px;
}

.cabinet-container .advantage-section .section-top {
	width: 630px;
}

.cabinet-container .advantage-sec-figure {
	margin-top: 65px;
}

.cabinet-container .advantage-section .section-body {
	padding-top: 60px;
	padding-bottom: 0px;
}

.cabinet-container .advantage-item {
	width: 49.8%;
	margin-bottom: .37%;
	height: 460px;
	background-color: #fafafa;
}

.cabinet-container .advantage-item:first-child,
.cabinet-container .advantage-item:last-child {
	background-color: #f5f5f5;
}

.cabinet-container .advantage-item-cont {
	width: 275px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cabinet-container .advantage-item-icon {
	display: inline-block;
	width: 70px;
	height: 70px;
}

.cabinet-container .advantage-item-icon img {
	width: 100%;
	height: 100%;
}

.cabinet-container .advantage-item-title {
	margin-top: 20px;
	font-size: 26px;
	color: #404040;
}

.cabinet-container .advantage-item-descr {
	margin-top: 25px;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	color: #666;
}

.cabinet-container .material-section {
	padding-top: 70px;
	background-color: #f7f7f7;
}

.cabinet-container .material-section .section-top-text {
	width: 710px;
	margin-top: 45px;
}

.cabinet-container .material-section .section-top-list {
	width: 955px;
	margin-top: 74px;
}

.cabinet-container .material-icon {
	width: 80px;
	height: 80px;
}

.cabinet-container .material-icon img {
	width: 100%;
	height: 100%;
}

.cabinet-container .material-text {
	margin-top: 25px;
	font-size: 26px;
	color: #666;
	text-align: center;
}

.cabinet-container .material-section .dropmenu-content {
	background-color: #f2f2f2;
}

.cabinet-container .material-section .section-body-cont {
	width: 935px;
}

.cabinet-container .width-420 {
	width: 420px;
}

.cabinet-container .width-740 {
	width: 740px;
}

.cabinet-container .width-950 {
	width: 950px;
}

.cabinet-container .section-body-cont .part .part-title {
	font-size: 34px;
	color: #262626;
}

.cabinet-container .section-body-cont .part .part-descr {
	margin-top: 15px;
	font-size: 18px;
}

.cabinet-container .craftsmanship-section {
	padding-top: 150px;
	padding-bottom: 120px;
}

.cabinet-container .craftsmanship-section .section-top {
	width: 580px;
}

.cabinet-container .craftsmanship-section .section-top-headline {
	margin-top: 20px;
	margin-bottom: 30px;
}

.cabinet-container .craftsmanship-sec-figure {
	margin-top: 75px;
}

.cabinet-container .craftsmanship-section .section-body {
	max-width: 1470px;
	margin-top: 110px;
	background-color: #fafafa;
}

.cabinet-container .craftsmanship-list {
	padding: 110px 230px 20px 230px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cabinet-container .craftsmanship-item {
	width: 42%;
	min-height: 380px;
	text-align: center;
}

.cabinet-container .craftsmanship-item-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.cabinet-container .craftsmanship-item-icon img {
	width: 100%;
	height: 100%;
}

.cabinet-container .craftsmanship-item-title {
	margin-top: 50px;
	font-size: 34px;
	color: #262626;
}

.cabinet-container .craftsmanship-item-descr {
	margin-top: 45px;
	font-size: 16px;
	line-height: 28px;
	color: #666;
}

.cabinet-container .style-section {
	padding-top: 140px;
	padding-bottom: 170px;
	background-color: #f7f7f7;
}

.cabinet-container .style-section-wrapper {
	max-width: 1500px;
}

.cabinet-container .style-section .section-top {
	width: 530px;
	margin-top: 60px;
}

.cabinet-container .style-section .section-top-headline {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cabinet-container .style-section .section-body {
	width: 814px;
}

.cabinet-container .style-section .style-list-item {
	position: relative;
	float: left;
	width: 49%;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 0px;
	background-color: #909090;
}

.cabinet-container .style-section .style-list-item:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	content: '';
	background-color: #000;
	opacity: .4;
}

.cabinet-container .style-section .style-list-item:hover:after {
	opacity: .2;
}

.cabinet-container .style-section .style-list-item img {
	width: 100%;
}

.cabinet-container .style-section .style-list-item p {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9;
	font-size: 28px;
	color: #f7f7f7;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1500px) {
	.cabinet-container .style-section .section-top {
		width: 480px;
		margin-left: 40px;
	}
	.cabinet-container .style-section .section-body {
		width: 660px;
		margin-right: 40px;
	}
	.cabinet-container .style-section .section-top-headline {
		font-size: 36px !important;
	}
}

.cabinet-container .process-section {
	padding-top: 160px;
	padding-bottom: 210px;
}

.cabinet-container .process-section .section-top {
	width: 630px;
}

.cabinet-container .process-section .section-body {
	width: 1070px;
}

.cabinet-container .process-section .process-figure {
	width: 1070px;
	height: 680px;
	margin-top: 63px;
}

.cabinet-container .process-list-item {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	padding-left: 100px;
	margin-top: 90px;
}

.cabinet-container .process-list-item .step {
	width: 38px;
	height: 38px;
	border: 1px solid #a4a4a4;
	margin-right: 32px;
	border-radius: 50%;
	font-size: 20px;
	line-height: 38px;
	color: #333;
	text-align: center;
}

.cabinet-container .process-list-item .step-title {
	font-size: 24px;
	color: #404040;
}

.cabinet-container .process-list-item .step-text {
	margin-top: 16px;
	font-size: 16px;
	color: #666;
}

.cabinet-container .cases-section {
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: #f7f7f7;
}

.cabinet-container .cases-section .section-top-subtitle {
	text-indent: -44px;
}

.cabinet-container .cases-section .section-top-headline {
	margin-bottom: 20px;
}

.cases-list-containerbox {
	position: relative;
	width: 1140px;
	padding-top: 80px;
	margin: 0 auto;
}

.cabinet-container .cases-list-container {
	width: 900px;
	padding-bottom: 110px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cabinet-container .swiper-slide {
	padding: 0 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cabinet-container .cases-item-info {
	width: 340px;
}

.cabinet-container .cases-item-name {
	margin-top: 75px;
	margin-bottom: 20px;
	font-size: 34px;
	color: #333;
}

.cabinet-container .cases-item-descr {
	min-height: 160px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}

.cabinet-container .cases-item-img {
	width: 420px;
	height: 455px;
}

.cabinet-container .cases-slide-btn {
	position: absolute;
	top: 298px;
	z-index: 10;
	cursor: pointer;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
}

.cabinet-container .cases-slide-btn i {
	font-size: 36px;
}

.cabinet-container .cases-slide-btn-prev {
	left: 0px;
}

.cabinet-container .cases-slide-btn-next {
	right: 0px;
}

.cabinet-container .swiper-button-disabled {
	opacity: .3;
	cursor: default;
}

.cabinet-container .cases-slide-btn:hover {
	color: #666;
}

.cabinet-container .swiper-pagination-bullet-active {
	background: #4d4d4d;
}

.for-more-btn.jsMoreBtn i {
	font-size: 24px;
}

.for-more-btn.jsMoreBtn span {
	margin-left: 0;
}


/* 
    浴室柜页面样式结束 
*/


/* 合作加盟 */

.cooperation-container .slogen-section {
	position: relative;
}

.cooperation-container .slogen-banner {
	position: relative;
	overflow: hidden;
	height: 580px;
}

.cooperation-container .slogen-banner img {
	width: 100%;
}

.cooperation-container .slogen-descr {
	width: 880px;
	padding-top: 65px;
	padding-bottom: 140px;
	font-size: 18px;
	color: #333;
	line-height: 32px;
	text-align: center;
}

.cooperation-container .slogen-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 43%;
	z-index: 9;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cooperation-container .slogen-subtitle {
	font-size: 60px;
	color: #fff;
}

.cooperation-container .slogen-headline {
	margin-top: 20px;
	font-size: 20px;
	color: #fff;
}

.cooperation-container .section-top-subtitle {
	font-size: 30px;
	text-align: left;
	color: #e5e5e5;
}

.cooperation-container .section-top-headline {
	font-size: 40px;
	text-align: left;
	color: #fff;
}

.cooperation-container .advantage-section .section-top-header {
	position: absolute;
	top: 28%;
	left: 0;
	right: 0;
	padding-left: 490px;
}

.cooperation-container .advantage-section .section-body {
	width: 960px;
	padding-top: 60px;
}

.cooperation-container .section-body-paragraph {
	width: 610px;
	font-size: 18px;
	line-height: 32px;
	color: #333;
}

.cooperation-container .advantage-section .section-body-list {
	overflow: hidden;
	width: 100%;
	margin-top: 140px;
}

.cooperation-container .advantage-section .section-body-list ul li {
	position: relative;
	float: left;
	width: 440px;
	margin-bottom: 150px;
}

.cooperation-container .advantage-section .section-body-list ul li:nth-of-type(even) {
	float: right;
}

.cooperation-container .advantage-item {
	padding-left: 100px;
}

.cooperation-container .advantage-item img {
	position: absolute;
	left: 0;
	top: 0;
}

.cooperation-container .advantage-item h4 {
	padding-top: 10px;
	font-size: 34px;
	color: #000;
}

.cooperation-container .advantage-item p {
	margin-top: 15px;
	font-size: 14px;
	line-height: 22px;
	color: #808080;
}

.cooperation-container .advantage-section .bottom-line-wrapper {
	overflow: hidden;
	width: 360px;
	height: 2px;
	margin-top: 28px;
	margin-left: 80px;
}

.bottom-line {
	width: 100%;
	height: 2px;
	background-color: #ff6600;
}

.cooperation-container .training-section {
	padding-top: 170px;
	padding-bottom: 250px;
	background-color: #fafafa;
}

.cooperation-container .training-section .section-body {
	width: 1260px;
}

.cooperation-container .training-figure {
	width: 640px;
	height: 545px;
}

.cooperation-container .training-section .section-body-cont {
	width: 520px;
}

.cooperation-container .training-section .section-body-cont-headline {
	margin-top: 70px;
	font-size: 30px;
	color: #333;
}

.cooperation-container .training-section .section-body-cont-subtitle {
	margin-top: 20px;
	font-size: 42px;
	color: #000;
}

.cooperation-container .training-section .section-body-cont-text {
	margin-top: 50px;
	font-size: 18px;
	line-height: 32px;
	color: #333;
}

.cooperation-container .demand-section .section-top-headline {
	line-height: 50px;
}

.cooperation-container .demand-section .section-body {
	width: 1180px;
	padding-top: 60px;
	padding-bottom: 210px;
}

.cooperation-container .demand-section .section-body-paragraph {
	margin-left: 110px;
}

.cooperation-container .demand-section .part {
	margin-top: 90px;
	margin-bottom: 0px;
}

.cooperation-container .demand-section .part-img {
	width: 575px;
	height: 380px;
}

.cooperation-container .demand-section .part-descr {
	margin-top: 20px;
}

.cooperation-container .demand-section .width-515 {
	width: 515px;
}

.cooperation-container .process-section {
	padding-bottom: 150px;
	background-color: #fafafa;
}

.cooperation-container .process-section .section-top {
	width: 750px;
	padding-top: 108px;
	padding-bottom: 90px;
}

.cooperation-container .process-section .section-top-headline {
	font-size: 30px;
	color: #000;
	text-align: center;
}

.cooperation-container .process-section .section-top-subtitle {
	margin-top: -30px;
	font-size: 16px;
	line-height: 26px;
	color: #333;
	text-align: center;
}

.cooperation-container .process-section .process-list-container {
	width: 820px;
	padding-left: 140px;
	padding-right: 140px;
	padding-bottom: 110px;
}

.cooperation-container .process-section .process-list-container li {
	text-align: center;
}

.cooperation-container .process-section .process-list-container li p {
	margin-top: 50px;
	color: #000;
}

.cooperation-container .process-section .slide-btn {
	position: absolute;
	top: 30%;
}

.cooperation-container .process-section .slide-btn i {
	font-size: 24px;
}

.cooperation-container .process-section .slide-btn-prev {
	left: 0px;
}

.cooperation-container .process-section .slide-btn-next {
	right: 0px;
}

.cooperation-container .process-section .swiper-pagination-bullet {
	width: 30px;
	height: 2px;
	background: #a9a9a9;
	opacity: 1;
	border-radius: 0px;
}

.cooperation-container .process-section .swiper-pagination-bullet-active {
	background: #000;
}

.cooperation-container .map-container {
	width: 100%;
	height: 965px;
}

@-webkit-keyframes bounceInUp1 {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
		animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	}
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes bounceInUp1 {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
		animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	}
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.bounceInUp1 {
	-webkit-animation-name: bounceInUp1;
	animation-name: bounceInUp1;
}

@-webkit-keyframes bounceInLeft1 {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes bounceInLeft1 {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

.bounceInLeft1 {
	-webkit-animation-name: bounceInLeft1;
	animation-name: bounceInLeft1;
}

.plan-box2 {
	overflow: hidden;
	width: 100%;
	color: #fff;
	position: relative;
}

.plan-box2 img {
	width: 100%;
	-webkit-transition: 500ms linear;
	transition: 500ms linear;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.plan-box2.active img {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}

.plan-box2-2 {
	-webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	opacity: 0;
	-webkit-transform: translateY(calc(0));
	transform: translateY(calc(0));
	color: #fff;
	font-size: 40px;
	line-height: 64px;
	margin-top: 160px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -490px;
}

.plan-box2.active .plan-box2-2 {
	opacity: 1;
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}